.btn {
  font-size: 15px;
  color: #222222;
  border-radius: 15px;
  background-color: #ffffff;
  border: 1px solid #222222;
  padding: 8px 16px; /* Butonun içeriğine göre uygun bir padding ekleyebilirsiniz */
}

