@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#greetings{
    font-family: 'Nanum Myeongjo', serif;
    text-transform: uppercase;
}  
#to{
  font-family: 'Bebas Neue', sans-serif;
}
#myPortfolio{
    font-family: 'Nanum Myeongjo', serif;
    text-transform: uppercase; 
}
#website{
  font-family: 'Bebas Neue', sans-serif;
}
